* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.startContainer {
  padding: 2rem;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

/* HEADER */
header h1 {
  font-size: 3rem;
}

/* FORM */
.signUpLogInForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signUpLogInForm h2 {
  margin-bottom: 15px;
}

.signUpLogInForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.signUpLogInForm input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signUpLogInForm button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signUpLogInForm button:hover {
  background-color: #0056b3;
}

.button-start-toggle {
  position: fixed;
  bottom: 20rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a7b6c5;
}

/* MAIN CONTAINER */

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainHeader {
  background-color: rgba(290, 204, 204, 0.1);
  padding: 10px;
  text-align: center;
}

.logoutButton {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: #a7b6c5;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logoutButton:hover {
  transform: scale(1.2);
}

.chatContainer {
  flex-grow: 2;
  padding: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.botContainer {
  background-color: rgba(290, 204, 204, 0.1);
  padding: 10px;
  flex-grow: 2;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chatForm {
  width: 100%;
  display: flex;
  gap: 5px;
  height: 70px;
}

.chatForm input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 25px;
}

.send-button {
  border: none;
  border-radius: 5px;
  background-color: #a7b6c5;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
  transition: transform 0.3s ease;
  font-size: 25px;
}

.send-button:hover {
  background-color: #8799a3;
  transform: scale(1.1);
}

.message {
  padding: 8px;
  margin: 4px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

 .user-message {
  background-color: rgba(204, 230, 255, 0.5);
  align-self: flex-end;
  max-width: 65%;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  border-radius: 10px;
} 

 .bot-message {
  background-color: rgba(210, 240, 240, 0.5);
  align-self: flex-start;
  max-width: 65%;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  border-radius: 10px;
} 

.message span {
  font-size: 24px;
}



